@model QueueIT.Controllers.Account.UserHomeViewModel;
@{
    ViewBag.Title = "Home";
    ViewBag.Teams = Model.TeamsList.ToList();
    ViewBag.Queues = Model.QueuesList.ToList(); 
    Layout = "_LoggedInLayout";
}
<br/>
<div align="center">
    <h4 class="display-5 primary-text"></h4>
</div>
<br/>
<div class="rounded user-home-bg shadow-lg">
    <div class="row" align="center">
        <div class="home-column-30 custom-border">
            <br/><br/>
            <div class="table">
                <h4 class="primary-text display-7">
                    <u>Teams</u>
                </h4>
                <div id="TeamsDiv">
                    @foreach (var team in @Model.TeamsList)
                    {
                        <form asp-action="Show" asp-controller="Teams"
                              asp-route-teamId="@team.Id" method="GET">
                            <button class="quick-link">@team.Name</button>
                        </form>
                    }
                </div>
                <button class="my-btn my-btn-secondary grow-secondary" data-toggle="modal"
                        data-target="#CreateTeamModal" aria-hidden="true">
                    <span class="thick-plus">+</span> Create Team
                </button>
            </div>
            <br/>
            <div>
                <h4 class="primary-text display-7">
                    <u>Queues</u>
                </h4>
                <div id="QueuesDiv">
                    @foreach (var queue in Model.QueuesList)
                    {
                        <form asp-action="Show" asp-controller="Queues"
                              asp-route-queueId="@queue.Id" method="GET">
                            <button class="quick-link">@queue.Title</button><br/>
                        </form>
                    }
                </div>
                <button class="my-btn my-btn-secondary grow-secondary" data-toggle="modal"
                        data-target="#CreateQueueModal" aria-hidden="true">
                    <span class="thick-plus">+</span> Create Queue
                </button>
            </div>
            <br/><br/>
        </div>

        <div class="home-column-70">
            <div class="container-col p-10" align="left">

                @foreach (var team in Model.TeamsList)
                {
                    <div>
                        <h4 class="display-8 primary-text m-10">@team.Name</h4>
                        <div class="container-row home-cards">
                            @foreach (var queue in Model.QueuesList)
                            {
                                if (queue.TeamId == team.Id)
                                {
                                    <div class="card m-10">
                                        <form asp-action="Show" asp-controller="Queues"
                                              method="GET" asp-route-queueId="@queue.Id">
                                            <button class="card-body home-card grow shadow-lg">
                                                @queue.Title
                                            </button>
                                        </form>
                                    </div>
                                }
                            }
                            <div class="card m-10">
                                <button class="card-body home-card grow shadow-lg" data-toggle="modal"
                                        data-target="#CreateQueueModal" data-id="@team.Id" aria-hidden="true">
                                    <span class="thick-plus">+</span> Add a Queue
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>